
.button{
    display: inline-block;
    border-radius: 4px;
    background-color: $orange-color;
    padding: 1.5% 2.45%;
    color: white;
    font-size: 1.2em;
        p{
            text-align: center;
            margin: 0;
        }
}