
.button{
    display: inline-block;
    border-radius: 4px;
    background-color: $orange-color;
    padding: 1.5% 2.45%;
    color: white;
    font-size: 1.2em;
        &:hover{
            transform: scale(0.95);
            cursor: pointer;
            p{
                transform: scale(1.2);
                font-weight: bold;
            }
        }
        p{
            text-align: center;
            margin: 0;
            
        }
}