h1{
    font-size: 6em;
    color: $main-color;
}
h2{
    font-size: 3em;
    color: $main-color;
}
h3{
    font-size: 2em;
    color: $main-color;
}
h4{
    font-size: 1.5em;
    color: $main-color;
}
h5{
    font-size: 1em;
    color: $main-color;
}
h6{
    font-size: 0.75em;
    color: $main-color;
}