.general-statistic{
    @include time;
    
    .statistic{
        [class*="stat-"]{
            border-bottom: 1px solid $lightgrey-color;
        
                h5,p{
                display: inline-block;
                border: none;
                }
                p{
                    float: right;
                    color: black;
                }
        }
    }
    .chart{
        padding: 3% 0;
    }
}
