header{
    position: fixed;
    right: 0;
    top: 0;
    width: $headerwidth;
    height: $headerhight;
    background-color: #ffffff;
    .header-container{
        float: right;
        white-space: nowrap;
        overflow-x: auto;
        & > div{
            border-left: 1px $lightgrey-color solid;
        }
        .exit{
            position: relative;
            top:-5px;
        }
        .exit, .notifications, .account{
            cursor: pointer;
        }
        div{
            display: inline-block;
            box-sizing: border-box;
            padding: 20px 10px;
            
                 p{
                     color: $main-color;
                     font-size: 20px;
                     margin: 0;
                     display: inline-block;
                 }

                 a{
                    color: $link-color;
                    font-size: 16px;
                    text-decoration: none;
                    cursor: pointer;
                 }

                .icon{
                    padding: 0;
                    margin: 0 10px;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    svg{
                        fill: $main-color;
                    }
                }
        
        }
    }
}
