.quit-popup{
    overflow: auto;
    width: 300px;
    .buttons{
        .button{
            float: right;
            margin: 0 2%;
        }
        .cancel{
            background-color: $main-color;
                &:hover{
                    background-color: $orange-color;
                }
        }
    }

}